body,html
{
    margin: 0;
    padding: 0;

    --text: #ffffff;
    --background: #1b1b1b;
    --primary: #f54703;
    --secondary: #655646;
    --accent: #a09676;

    background-color: var(--background);
}

.ul_navbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary);
}

.li_navbar
{
    float: left;
}

.a_navbar
{
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.a_navbar:hover
{
    background-color: var(--background);
}
