body,html
{
    margin: 0;
    padding: 0;

    --text: #ffffff;
    --background: #1b1b1b;
    --primary: #f54703;
    --secondary: #655646;
    --accent: #a09676;

    background-color: var(--background);

    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav_ul
{
    list-style-type: none;
    height: 50;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary);
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: normal;
}

.nav_ul li
{
    float: left;
}

.nav_ul img
{
    float: right;
}

.nav_ul li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}